<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
  <button class="navbar-toggler navbar-toggler-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#mobileNav" aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<span class="navbar-brand"><a href="{{ site.baseurl }}/api/"><i class="fa fa-home"></i></a><a id="category" href="{{ site.baseurl }}/api/{{ page.category }}">{{ page.category }}</a></span>
</nav>

<div class="collapse navbar-collapse bg-faded" id="mobileNav">
  <ul class="navbar-nav nav-pills mr-auto">
    {% assign sorted_posts = site.categories[page.category] | sort {|left, right| left[0] <=> right[0]} %}
    {% for post in sorted_posts %}
      <li class="nav-item"><span class="nav-link" id="{{ post.title | replace: " ", "-" }}">{{ post.title }}</span></li>
    {% endfor %}
  </ul>
</div>
