<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
    <button class="navbar-toggler navbar-toggler-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#mobileNav" aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  	<span class="navbar-brand"><a href="{{ site.baseurl }}/api/"><i class="fa fa-home"></i></a><a id="category" href="{{ site.baseurl }}/api/{{ page.category }}">{{ page.category | replace: "-",", " }}</a></span>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown hidden-sm-down">
        <a class="nav-link dropdown-toggle" id="tutorial-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          API Tutorials
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tutorial-dropdown">
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for category in sorted_categories %}
            {% assign cat = category[0] | replace: "-",", " %}
            {% if cat != "api" %}
              <a class="dropdown-item" id="{{ category[0] }}" onclick="location.href='{{ site.baseurl }}/api/{{ category[0] }}';">{{ cat }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </nav>
</div>

<div class="collapse navbar-collapse bg-faded" id="mobileNav">
  <ul class="navbar-nav nav-pills mr-auto">
    {% assign sorted_posts = site.categories[page.category] | sort {|left, right| left[0] <=> right[0]} %}
    {% for post in sorted_posts %}
      {% assign title = post.title | replace: "-",", " %}
      <li class="nav-item"><span class="nav-link" id="{{ post.title | replace: " ", "-" }}">{{ title }}</span></li>
    {% endfor %}
  </ul>
</div>
