<div class="container-fluid">
  <div class="row-fluid justify-content-center pl-2 pr-2">
    <main class="pt-3">
    	<div class="p-3"> 

        <h3 class="landing-title">Task Management APIs</h3>
        <div class="row">
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for category in sorted_categories %}
            {% if category[0] != "api" %}
            {% if category[0] contains "RTOS" or category[0] contains "EventLoop" or category[0] contains "Ticker" or category[0] contains "Time" or category[0] contains "Timeout" or category[0] contains "Timer" or category[0] contains "Wait" %}
            <div class="col col-sm-6 col-xs-12">
              <div class="card card-outline-primary text-center" id="{{ category[0] }}" onclick="location.href='{{ site.baseurl }}/api/{{ category[0] }}';">
                <div class="card-block">
                  <h4 class="card-title text-primary" style="margin:0">{{ category[0] }}</h4>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <br>

        <h3 class="landing-title">Input and Output APIs</h3>
        <div class="row">
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for category in sorted_categories %}
            {% if category[0] != "api" %}
            {% if category[0] contains "AnalogIn" or category[0] contains "AnalogOut" or category[0] contains "DigitalIn" or category[0] contains "DigitalOut" or category[0] contains "DigitalInOut" or category[0] contains "BusIn" or category[0] contains "BusOut" or category[0] contains "BusInOut" or category[0] contains "PortIn" or category[0] contains "PortInOut" or category[0] contains "PwmOut" or category[0] contains "InterruptIn" %}
            <div class="col col-sm-6 col-xs-12">
              <div class="card card-outline-primary text-center" id="{{ category[0] }}" onclick="location.href='{{ site.baseurl }}/api/{{ category[0] }}';">
                <div class="card-block">
                  <h4 class="card-title text-primary" style="margin:0">{{ category[0] }}</h4>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <br>

        <h3 class="landing-title">Digital Interface APIs</h3>
        <div class="row">
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for category in sorted_categories %}
            {% if category[0] != "api" %}
            {% if category[0] contains "Serial" or category[0] contains "SPI" or category[0] contains "SPISlave" or category[0] contains "I2C" or category[0] contains "I2CSlave" or category[0] contains "CAN" %}
            <div class="col col-sm-6 col-xs-12">
              <div class="card card-outline-primary text-center" id="{{ category[0] }}" onclick="location.href='{{ site.baseurl }}/api/{{ category[0] }}';">
                <div class="card-block">
                  <h4 class="card-title text-primary" style="margin:0">{{ category[0] }}</h4>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <br>

        <h3 class="landing-title">Communication APIs</h3>
        <div class="row">
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for category in sorted_categories %}
            {% if category[0] != "api" %}
            {% if category[0] contains "NetworkSockets" or category[0] contains "Ethernet" or category[0] contains "Wi-Fi" or category[0] contains "Mesh Networking" or category[0] contains "BLE" or category[0] contains "Cellular" %}
            <div class="col col-sm-6 col-xs-12">
              <div class="card card-outline-primary text-center" id="{{ category[0] }}" onclick="location.href='{{ site.baseurl }}/api/{{ category[0] }}';">
                <div class="card-block">
                  <h4 class="card-title text-primary" style="margin:0">{{ category[0] }}</h4>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <br>

        <h3 class="landing-title">Security APIs</h3>
        <div class="row">
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for category in sorted_categories %}
            {% if category[0] != "api" %}
            {% if category[0] contains "mbed uVisor" or category[0] contains "mbed TLS" %}
            <div class="col col-sm-6 col-xs-12">
              <div class="card card-outline-primary text-center" id="{{ category[0] }}" onclick="location.href='{{ site.baseurl }}/api/{{ category[0] }}';">
                <div class="card-block">
                  <h4 class="card-title text-primary" style="margin:0">{{ category[0] }}</h4>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <br>

        <h3 class="landing-title">Storage APIs</h3>
        <div class="row">
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for category in sorted_categories %}
            {% if category[0] != "api" %}
            {% if category[0] contains "File System" or category[0] contains "Block Devices" or category[0] contains "Flash IAP" %}
            <div class="col col-sm-6 col-xs-12">
              <div class="card card-outline-primary text-center" id="{{ category[0] }}" onclick="location.href='{{ site.baseurl }}/api/{{ category[0] }}';">
                <div class="card-block">
                  <h4 class="card-title text-primary" style="margin:0">{{ category[0] }}</h4>
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>

      </div>
    </main>
  </div>
</div>