    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            {% for post in site.posts %}
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/#{{ post.url | remove_first:'/'}}" id="{{ post.url | remove_first:'/'}}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <div class="p-3">
            <h3 id="tutorial-title"></h3>
            <hr>
            <div id="tutorial-content"></div>
          </div>
        </main>
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% else %}
            <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
            <span class="next ">Next</span>
          {% endif %}
        </div>
      </div>
    </div>