					<div class="row justify-content-center" width="inherit" style="margin-top: 2rem">
					{% if page.next and page.next.categories contains page.category %} 
					  <div class="col-5">
					    <a class="nav-link btn btn-secondary" id="{{ post.next.title | replace: " ", "-" }}">Previous: {{ post.next.title }}</a>
					  </div>
					{% endif %}
					{% if post.previous %}
					  <div class="col-5">
					    <a class="nav-link btn btn-primary text-white" id="{{ post.previous.title | replace: " ", "-" }}">Next: {{ post.previous.title }}</a>
					  </div>
					{% endif %}