---
layout: api-default
---

<div class="container-fluid">
  <div class="row">

    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
      	{% assign sorted_posts = site.categories[page.category] | sort {|left, right| left[0] <=> right[0]} %}
        {% for post in sorted_posts %}
          <li class="nav-item"><span class="nav-link steps" id="{{ post.title | replace: " ", "-" }}">{{ post.title }}</span></li>
        {% endfor %}
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    	<div class="p-3">
      	{% assign sorted_posts = site.categories[page.category] | sort {|left, right| left[0] <=> right[0]} %}
  			{% for post in sorted_posts %}
          {% assign current_post = post.title %}
  				<div id="{{ post.title | replace: " ", "-" }}" class="tutorial collapse">
  					<h3 id="{{ post.title }}" class="tutorial-title">{{ post.title }}</h3>
  					{{ post.content }}
            {% assign prev = "" %}
            {% assign next = "" %}
            {% assign stop = false %}
            {% for post2 in sorted_posts %}
              {% if post2.title == current_post %}
                {% assign stop = true %}
              {% else %}
                {% if stop %}
                  {% assign prev = post2.url %}
                  {% assign pTitle = post2.title %}
                {% break %}
                {% else %}
                  {% assign next = post2.url %}
                  {% assign nTitle = post2.title %}
                {% endif %}
              {% endif %}
            {% endfor%}
            <div class="row justify-content-center" style="margin-top: 2rem;">
              {% if next != "" %}
              <div class="col-5">
                <a class="nav-link steps btn btn-outline-secondary text-secondary" id="{{ nTitle | replace: " ", "-" }}">Previous: {{ nTitle }}</a>
              </div>
              {% endif %}
              {% if prev != "" %}
              <div class="col-5">
                <a class="nav-link steps btn btn-primary text-white" id="{{ pTitle | replace: " ", "-" }}">Next: {{ pTitle }}</a>
              </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
		  </div>
    </main>

  </div>
</div>
